@font-face {
font-family: "Cousine";
src: url("assets/fonts/Cousine-Regular.ttf") format("truetype");
src: url("assets/fonts/Cousine-Italic.ttf") format("truetype");
src: url("assets/fonts/Cousine-BoldItalic.ttf") format("truetype");
src: url("assets/fonts/Cousine-Bold.ttf") format("truetype");
font-style: normal;
font-weight: normal;
}
@font-face {
font-family: "FuturaPT";
src: url("assets/fonts/FuturaPTMedium.ttf") format("truetype");
font-style: normal;
font-weight: normal;
}

@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed:400,700');
@import url('https://fonts.googleapis.com/css?family=Encode+Sans:400,700');

body{
    overflow-x: hidden;
    position: relative;
}

a:focus{
  color:black;
  text-decoration:none;
}
.body-act{
    position:absolute;
    left:-200vw;
}
p{
    font-family: "Cousine";
    font-size: 25px;
    margin:0;
}
h2{
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-weight: 700;
    margin: 0 0 30px;

}
h1, h2, h3, p{
    color: #2C2C2C;
}

a, a:hover
{
    color: #2C2C2C;
    text-decoration: none;
}



.menu-block
{
    height: 77px;
    z-index: 20;
    position: relative;
    display: flex;
    align-items: center;
}

.homeblock
{
    width: 100%;
    min-height: 100vh;
    background-color: #FFCC00;
    padding: 20px 5% 0;
}

.logoforward
{
    width: 50%;
}

.path
{
     stroke-linecap: round;
  stroke-linejoin: round;
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
   animation: dash 18s linear,
     offset .1s linear forwards;
    animation-fill-mode: forwards;
  stroke-opacity: 0;
}

#path1
{
    animation-delay: 1s;
}

#path2
{
    animation-delay: 1.5s;
}

#path3
{
    animation-delay: 2s;
}

#path4
{
    animation-delay: 2.5s;
}

#path5
{
    animation-delay: 3s;
}

#path6
{
    animation-delay: 3.5s;
}

#path7
{
    animation-delay: 4s;
}

#path8
{
    animation-delay: 5s;
}

#path9
{
    animation-delay: 4.7s;
}

#path10
{
    animation-delay: 5.3s;
}

@keyframes dash{
  from {
    stroke-dashoffset: 2000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes offset {

  100% {
    stroke-opacity: 1;
  }
}
.menu-block a
{
    margin-right: 30px;
}

.logo-img
{
    width: 40px;
}

.logo-animation-box
{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.content-box
{
    min-height: calc(97vh - 77px - 50px);
}

.footer-block
{
    height: 50px;
    z-index: 2;
    position: relative;
}

.footer-block a
{
    margin-right: 10px;
}

.content-box2
{
    min-height: calc(97vh - 77px - 50px);
    padding-top: 40px;
}


.line-div
{
    max-width: 320px;
    height: 12px;
    background: #2C2C2C;
}

.logo-word{
 width:200px;
 display:block;
 margin:30px auto 0;
}

.logo-milk{
    float: right;
    font-size: 20px;
    font-family: 'Encode Sans', sans-serif;
    font-weight: 700;
}


/* Listen */

.album-box{
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 0 auto 110px;

    max-width: 1100px;
}

.album-box h2{
    font-size:60px;
}

.albom-cover{
    height: 517px;
    width: 517px;
    box-shadow: 20px 50px 30px #0c0c0c66;
    margin:auto;
}
.cover1{
background: url(assets/images/dobruak.jpg);
background-size: cover;
}

.cover2{
background: url(assets/images/embedded.jpg);
background-size: cover;
}

.cover3{
background: url(assets/images/zavtra.jpg);
background-size: cover;
}

.cover4{
background: url(assets/images/zhic.jpg);
background-size: cover;
}

.cover5{
background: url(assets/images/oue.jpg);
background-size: cover;
}
.soc-listen-block{
    margin: 60px auto 0;
}
.soc-listen-block a{
    margin: 0 10px;
}
.soc-listen-block img{
height: 25px;
}

/* Listen END*/

/* look */
.video-box{
    margin: 0 auto 110px;
    max-width: 1100px;
    text-align: center;
}
.video-box h2{
    font-size: 100px;
    margin-bottom: 80px

}

.video-shadow{
    box-shadow: 20px 50px 30px #0c0c0c66;
    margin-bottom: 100px;
}

/* look END */

.box-load{
  width:100%;
  height:100%;
  background:#a78500;
  position:fixed;
  top:0;
  z-index:20;
  transition: .3s;
  transform: translateY(0);
}

.box-load-off{
  transform: translateY(100%);
  transition: .3s;

}


.menu-box a{
  position:relative;
}

.menu-box a:hover:before{
  content:"";
 position:absolute;
  left:45%;
  top:-17px;
  border-top: 8px solid transparent;
    border-left: 10px solid #ffe271;
    border-bottom: 8px solid transparent;
    transform:rotate(90deg);
}

.menu-box a:hover:after{
  content:"";
  position:absolute;
  left:45%;
  bottom:-17px;
  border-top: 8px solid transparent;
    border-left: 10px solid #ffe271;
    border-bottom: 8px solid transparent;
    transform:rotate(-90deg);
}

.menu-box .activekink:before{

  content:"";
 position:absolute;
  left:45%;
  top:-17px;
  border-top: 8px solid transparent;
    border-left: 10px solid #daae00;
    border-bottom: 8px solid transparent;
    transform:rotate(90deg);
}

.menu-box .activekink:after{
  content:"";
  position:absolute;
  left:45%;
  bottom:-17px;
  border-top: 8px solid transparent;
    border-left: 10px solid #daae00;
    border-bottom: 8px solid transparent;
    transform:rotate(-90deg);
}


@media (max-width:768px){
    .menu-box{
        width: 100vw;
        height: 100%;
        position: fixed;
        left: -300vw;
        top: 0;
        display: flex;
        flex-direction: column;
        background: tomato;
        z-index: 9;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        transition: .5s;
    }
    .menu-box-on{
        left: 0;
    }
    .menu-box a{
        color: white;
    }

    .line-one, .line-two{
        display: block;
        background: black;
        width: 25px;
        height: 3px;
        margin: 5px;
        transition: .4s;
    }

    .line-one-on{
     transform: rotate(180deg);
        background: white;
    }
    .line-two-on{
     transform: translate(-100vw);
     background: white;
    }
    .humburger-menu{
        cursor: pointer;
        z-index: 9;
        position: relative;
    }
    .menu-block{
        justify-content: space-between;
    }
    .menu-block a{
        margin: 0;
    }
    .albom-cover{
        width: 300px;
        height: 300px;
    }

    .album-box h2{
        font-size: 50px;
    }
    .homeblock{
      padding: 20px 10px 0;
    }
    .video-box h2{
        font-size: 50px;
    }
    .video-shadow{
        max-width: 100%;
        max-height: 50vh;
    }

  .menu-box .activekink:before{
     transform:rotate(0deg);
     left:-25px;
     top:5px;
     border-left: 10px solid #bb2d13;
   }


  .menu-box .activekink:after{
     transform:rotate(180deg);
     right:-25px;
     top:5px;
     bottom:auto;
     left:auto;
     border-left: 10px solid #bb2d13;
   }

   .menu-box a:hover:before, .menu-box a:hover:after{
    display:none;
  }

}
